body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient( white 0%, #e6b9d9 100%);
    background-attachment: fixed;
    /* animation: body 5s ease; */
}
@keyframes body {
    0% { transform: skewX(45deg); opacity: 0; }
}
section {
    margin: auto auto auto auto;
    padding: 30px 75px 30px 75px;
    background: radial-gradient( white 0%, #e6b9d9 100%);
    border: 5px solid darkmagenta;
    border-top-right-radius: 10px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 10px;
    max-width: max-content;
    min-width:400px;
    display: grid;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1;
}
h1,
h3,
p {
    text-decoration: overline;
    font-style: oblique;
}
input,
#message {
    margin: 15px 15px 15px 15px;
    padding: 10px 10px 10px 10px;
    border: 2px solid #5f3907;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    outline: none;
    transition: 250ms;
}
input:hover,
#message:hover {
    border: 2px solid #bd6b00;
    scale: 1.01;
    transition: 250ms;
}
input:focus {
    border:2px solid blue;
    border-radius: 5px 5px 5px 5px;
    transition: 100ms;
}
#message:focus {
    border:2px solid blue;
    width: 375px;
    height: 75px;
    transition: 100ms;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
input:focus::placeholder {
    position: absolute;
    color: blue;
    translate: 165px 0px;
    transition: 250ms;
}
hr {
    min-width: 200px;
    width: 350px;
}
form #submit,
#cancel {
    margin: 20px 0px 0px 0px;
    padding: 5px 10px 5px 10px;
    background: #5a0141;
    color: white;
    border: solid #5a0141;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black,
                0px 0px 5px blue;
    width: 150px;
    transition: 250ms;
}
#submit:hover,
#cancel:hover {
    background: #8f0166;
    transition: 250ms;
    border: solid #8f0166;
    scale: 1.05;
}
img {
    margin: 0px 0px 0px 0px;
    transition: 250ms;
    animation: img 20s cubic-bezier(0.37, 0.71, 0.48, 0.84) infinite;
    animation-delay: 2200ms;
    position: absolute;
    z-index: 0;
    width: 0px;
    opacity: 0;
}
@keyframes img {
    0%     { transform: translateX(0px) translateY(-575px); width: 0px; opacity: 1; }
    12.5%  { transform: translateX(1000px) translateY(-575px); width: 250px; opacity: 1; }
    25%    { transform: translateX(0px) translateY(-245px); width: 250px; opacity: 1; }
    37.5%  { transform: translateX(1000px) translateY(-245px); width: 250px; opacity: 1; }
    50%    { transform: translateX(0px) translateY(-575px); width: 250px; opacity: 1; }
    62.5%  { transform: translateX(0px) translateY(-245px); width: 250px; opacity: 1; }
    75%    { transform: translateX(1000px) translateY(-575px); width: 250px; opacity: 1; }
    87.5%  { transform: translateX(1000px) translateY(-245px); width: 250px; opacity: 1; }
    100%   { transform: translateX(0px) translateY(-575px); width: 250px; opacity: 1; }
}